.buscador{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
.buscador__header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buscador__logo{
    width: 140px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.buscador__btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.buscador__search{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.buscador__search > input{
    width: 140px;
    height: 35px;
    background-color: var(--poke-gold);
    font-size: 1.1rem;
    border-radius: 2rem;
    border: none;
    color: white;
    margin: 1rem;
}
@media screen and (min-width:30em) {
    .buscador__search > input{
        width: 240px;
    }
}
.buscador__returnbtn{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    background-color: var(--poke-gold);
    color:var(--poke-red);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.buscador__returnbtn > svg{
    fill: var(--poke-red);
    width: 40px;
    height: 40px;
}