.mainhistory{
    width: 100%;
    height: 100vh;
    overflow: hidden;
   background-image: url('./images/pokemon-go-5k-black-3840x2160-21680.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maininner{
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    letter-spacing: 0.1rem;
    animation: intros 20s ease-in;
}
@keyframes intros {
        0%{
            transform:perspective(100vh) rotateX(35deg) translateY(100%);
        }
        90% {
        opacity: 1;
    }
         100% {
        transform: perspective(100vh) rotateX(45deg) translateY(-250%);
        opacity: 0;
    }
}

.mainhistory p{
    font-size: 1.5rem;
    line-height: 2rem;
}

.maininner > p{
    color:white;
    font-weight: 700;
}
.maininner__btn{
    width: 180px;
    height: 50px;
    border-radius: 2rem;
    background-color: var(--poke-red);
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}