.pokelist{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokelist > h2{
    padding: 1rem;
    color: var(--poke-red);
}
.pokelist__list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/********interection element****************/
/* .pokelist__loader{
    width: 100%;
    height: 300px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: none;
} */