.pokelist{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y:auto */
}
.pokelist > h2{
    padding: 1rem;
    color: var(--poke-red);
}
.pokelist__list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pokelist__upbutton{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    background-color: var(--poke-gold);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 500;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.pokelist__upbutton--show{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.pokelist__upbutton  svg{
    fill: var(--poke-red);
    width: 60px;
    height: 60px;
}
