.whoispokemon{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whoispokemon > h2{
   
    color: var(--poke-red);
}
.whoispokemon__returnbtn{
     width: 200px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    background-color: var(--poke-gold);
    color:var(--poke-red);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 1.5rem;
}
.whoispokemon__returnbtn > svg{
    fill: var(--poke-red);
    width: 40px;
    height: 40px;
}
.whoispokemon__container{
    width: 350px;
    height: 400px;
    background-image: url('./images/whobackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border: thick solid var(--poke-gold);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media screen and (min-width:48em) {
    .whoispokemon__container{
        width: 600px;
    }
}
@media screen and (min-width:62em) {
    .whoispokemon__container{
        width: 700px;
    }
}
@media screen and (min-width:75em) {
    .whoispokemon__container{
        width: 450px;
    }
}
.whoispokemon__lettersimg{
    width: 350px;
    height: auto;
    object-fit: contain;
    object-position: center;
    position: absolute;
    bottom: 0.5rem;
}
.whoispokemon__p{
    width: 100%;
    height: auto;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0.4rem;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.whoispokemon__p--show{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.whoispokemon__pokephoto{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0%);
}
.whoispokemon__pokephoto--show{
    filter: brightness(100%);
}
.whoispokemon__pokephoto--show{
    filter: brightness(100%);
}
.whoispokemon__answercont{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
@media screen and (min-width:62em) {
    .whoispokemon__answercont{
        justify-content: space-evenly;
    }
}
.whoispokemon__answercont  img {
    width: 40px;
    height: 40px;
}
.whoispokemon__btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.whoispokemon__btn > p{
    color: var(--poke-gold);
}
.whoispokemon__answercont > input{
    width: 220px;
    height: 40px;
    color: var(--poke-gold);
    font-size: 1.2rem;
    border: thick solid var(--poke-gold);
}
@media screen and (min-width:48em) {
    .whoispokemon__answercont > input{
        width: 300px;
    }
}
@media screen and (min-width:62em) {
    .whoispokemon__answercont > input{
        border-radius: 1rem;
    }
}
@media screen and (min-width:75em) {
    .whoispokemon__content{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }
}
/*******loader****************/
.spinnerc{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spinnerc > p{
    font-size: 1.5rem;
    color:white;
}
.loader {
  width: 150px;
  height: 150px;
  border: 10px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
