html {
  box-sizing: border-box;
	font-size:16px;
	scroll-behavior: smooth;
  font-family: "Orbitron", sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
:root{
  --poke-red:#cc0000;
  --poke-gold:#D3AF37;
}